COMPOSE_PROJECT_NAME=goldypetspa

POSTGRES_USER=goldy_user
POSTGRES_PASSWORD=goldy_password
POSTGRES_DB=GoldyPetSpa

DATABASE_URL=postgresql://goldy_user:goldy_password@db:5432/GoldyPetSpa

APP_NAME=Goldy Pet Spa API
ENVIRONMENT=development

# Cambia los valores según tu configuración local.
# Si cambias el nombre del servicio de PostgreSQL en Docker Compose,
# actualiza también el host en DATABASE_URL.